<!DOCTYPE html>
<html>
<head>
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; padding-left: 10rem; padding-right: 10rem;">
<div style="width: 34rem; margin: 0 auto">
  <img style="width: 100%; height: auto; border-radius: 0.80rem; display:block" title="Logo" alt="Logo" src="cid:vertical_logo">
  <br>
  <br>
  <br>
  <div style="padding-left: 1rem; padding-right: 1rem;">
    @RenderBody()
    <br>
    <hr>
    <footer style="margin-bottom: 1rem; font-size: .875em; color: #6c757d;">
      <br>
      Website: <a style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; color: #6c757d;" href="https://fading-flame.com">https://fading-flame.com</a><br>
      Discord: <a style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; color: #6c757d;" href="https://discord.gg/SCBEyXuWeP">Join us!</a>
      <br>
      E-Mail: <a style="cursor: pointer; -webkit-user-select: none; -moz-user-select: none; color: #6c757d;" href="mailto:simonheiss87@gmail.com">mailto</a>
    </footer>
  </div>
</div>
</body>
</html>