@model IdentityServer.Quickstart.Mail.ResetPasswordMailModel

@{
  Layout = "_EmailLayout";
}

<div>
  Hi,
</div>
<br/>
<div>
  you requested a password reset for the fading flame. Click here to reset your pasword, click here:
</div>
<br/>
<a class="btn btn-primary" href="@Model.ResetPasswordLink">Reset password</a>
<br>
<br>
<div>
  see you on the battlefield =)
</div>