@model IdentityServer.Quickstart.Mail.ResetPasswordMailModel

@{
  Layout = "_EmailLayout";
}

<div>
  Hi,
</div>
<br/>
<div>
  you requested a password reset for the fading flame. Click here to reset your pasword, click here:
</div>
<br/>
<a style="color: #fff;
          background-color: #1b6ec2;
          border: 1px solid #1861ac;
          width: 10rem;
          margin: 2rem 10rem;
          line-height: 1.5;
          text-decoration: none;
          vertical-align: middle;
          cursor: pointer;
          font-size: 1rem;
          border-radius: 0.25rem;" 
   href="@Model.ResetPasswordLink">
  Reset password
</a>
<br>
<br>
<div>
  see you on the battlefield =)
</div>