@model IdentityServer.Quickstart.Mail.ResetPasswordMailModel

@{
    Layout = "_EmailLayout";
}

<div>
    Hi,
</div>
<div>
    <div>To reset your password click here:</div>
    <div>
        <a href="@Model.ResetPasswordLink">Reset password</a>    
    </div>
</div>