@model IdentityServer.Quickstart.Account.ForgotPasswordInputModel

<div class="login-container container">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                        </div>
                    
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                        <button class="btn btn-primary" name="button" value="send-new-pw">Send new password</button>
                        @if (Model.EmailSent)
                        {
                            <div class="pt-3 pb-3 mt-3 alert alert-success text-center" role="alert">
                                Email with new password sent!
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>