@model IdentityServer.Quickstart.Account.ResetPasswordInputModel

<div class="login-container container">
    <partial name="_ValidationSummary" />

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <form asp-route="Register">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <input type="hidden" asp-for="Email" />
                        <input type="hidden" asp-for="PasswordResetToken" />

                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" placeholder="Password" asp-for="NewPassword" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="RepeatPassword"></label>
                            <input type="password" class="form-control" placeholder="Repeat password" asp-for="RepeatPassword" autocomplete="off">
                        </div>
                        
                        <button class="btn btn-secondary" name="button" value="cancel">Set new password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>